$navbar-default-bg: #2d1f1a;
@import 'bootstrap-sprockets';
@import 'bootstrap';

a {
  color: #55423c;
}

a:hover {
  color: #65524c;
  text-decoration: none;
}

#logo {
  color: #fff;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
  background: #362620;
  color: #777777;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('new_cover_page.jpg');
  background-size: cover;
  height: 300px;
}

.jumbotron h1 {
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

.btn-xlarge {
  background-color: #362620;
  border: 0;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 1.7em;
}

.btn-xlarge:hover {
  background-color: #65524c;
}

.article-ctions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-size: 1.5em;
  font-weight: bold;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-bottom: 15px;
  padding-top: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
  
}

footer {
  border-top: 1px solid black;
  color: #fff;
  margin-top: 45px;
  padding-top: 5px;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
